.topheading{
    background-color: #eceeec;
}

.profileImage{
    
}

/* .fa-github-alt{
    color:rgb(136, 130, 130)
} */

.social-links{
    text-align: left;
    padding-bottom: 40px;
    padding-top: 10px;

}

.social-links a{
    color:rgb(136, 130, 130);
    transition: all 0.3s;
    background: transparent;
    padding-right: 30px;
}

.social-links a:hover{
    color:rgb(3, 3, 3);
}


.header-logo{
    font-family: 'Comfortaa', cursive;
    font-family: 'Lexend Peta', sans-serif;
    font-family: 'Overpass', sans-serif;
}

.header-logo p{
    font-size: medium;
    text-align: center;
}

.general-info{
    font-family: 'Comfortaa', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Lexend Peta', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-size: large;
}

.section-heading{
    /* text-decoration-line: underline;
    text-decoration-color: turquoise;
    text-decoration-style: solid; */
    padding-bottom: 5px;
    border-bottom: 2px solid turquoise;
}

.section-content{
    padding-top: 10px;
}

.footnote{
    color: honeydew;
    text-align: center;
    padding: 10px;
    background-color: rgb(14, 46, 134);
}